/* global.css */

/* Reset styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.registration-info {
    background-color: #ffd700;
    color: #333;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.registration-info p {
    margin: 0;
}

.registration-info .button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.registration-info .button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

main {
    padding-top: 150px; /* учитываем высоту фиксированного заголовка и полоски */
}

main h2 {
    margin-top: 0;
    font-size: 28px;
}

main p {
    font-size: 18px;
}

/* Анимация для заголовка */
header h1 {
    animation: slideInDown 1s ease;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
    header {
        padding: 15px 0;
    }

    header h1 {
        font-size: 20px;
    }

    .registration-info {
        padding: 8px 0;
    }

    .registration-info p {
        font-size: 14px;
    }

    .registration-info .button {
        padding: 8px 16px;
        font-size: 14px;
    }

    footer {
        padding: 15px 0;
    }

    main {
        padding-top: 100px; /* учитываем высоту фиксированного заголовка и полоски */
    }

    main h2 {
        font-size: 24px;
    }

    main p {
        font-size: 16px;
    }
}
